.hero {
    background-image: url("/src/images/abstract-black-shapes-background-design_1017-31904\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    
}